<!DOCTYPE html>
<html>
  <head>
    <title>NewsInfo: Spark Powered News Analytics</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage_style.css') }}">
  </head>
  <body>
    <header>
      <h1>NewsInfo: Spark Powered News Analytics</h1>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="{{ url_for('dash') }}">Visualizations</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>Top Articles</h2>
      <section>
        <h3>Article Title</h3>
        <p>Article summary goes here.</p>
        <p>Analytics data goes here.</p>
        <a href="#">Read More</a>
      </section>
      <section>
        <h3>Article Title</h3>
        <p>Article summary goes here.</p>
        <p>Analytics data goes here.</p>
        <a href="#">Read More</a>
      </section>
      <section>
        <h3>Article Title</h3>
        <p>Article summary goes here.</p>
        <p>Analytics data goes here.</p>
        <a href="#">Read More</a>
      </section>
    </main>
    <footer>
      <p>&copy; DataKnights:Sp23 DS4300 </p>
    </footer>
  </body>
</html>